.showroom_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.showroom_general_wrap {
  background-color: whitesmoke;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}

.showroom_milestone_wrap {
  background-color: whitesmoke;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}

.showroom_row {
  display: flex;
  align-items: center;
  width: 500px;
  justify-content: space-between;
}

.showroom_row * {
  margin: 20px;
}

.showroom_popup_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
