.offers_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  max-height: 100vh;
  overflow: auto;
  padding: 20px;
}

.offers_one {
  cursor: pointer;
  padding: 20px;
  list-style-type: none;
  text-align: left;
  margin: 0;
}
