body {
  margin: 0;
  font-family: "Noto Sans KR", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --small: 400px;
  --medium: 640px;
  --big: 768px;
  --huge: 1024px;

  --color1: #3f51b5;
  --color2: #f65d91;
  --color3: #f9f871;
  --text: #464555;
}
